/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  height: 13px;
  /* 3 */
  width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #1c1b21;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #7a66cc;
  position: absolute;
  bottom: 0;
  left: 0;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background: #7a66cc;
}

.header__line {
  border-bottom: 3px solid #54429e;
}

.header__line-wrapper {
  max-width: 1060px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__lng {
  display: flex;
}

.header__lng-active {
  color: #54429e;
}

.header__lng a {
  margin-right: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.header__lng a:hover {
  color: #7a66cc;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__logo {
  display: flex;
  color: #fff;
  margin-right: 80px;
}

.header__logo-link {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  align-self: center;
  text-align: center;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.nav__link:hover,
.header__link:focus,
.header__link:active {
  color: #7a66cc;
}

/* Header end */

/* Intro */

.intro {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1c1b21 95.21%),
    url(../img/ulukmanapo-img.jpg) no-repeat center;
  background-size: cover;
  padding-top: 320px;
  padding-bottom: 140px;
}

.intro__title {
  max-width: 620px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 85px;
}

.intro__music {
}

.music__title {
  max-width: 900px;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 60px;
}

.music__conteiner {
  display: flex;
  align-items: center;
}

.music__conteiner .music {
  width: 75%;
}

.music__conteiner .music audio {
  width: 100%;
  outline: none;
}

.music__conteiner .music audio::-webkit-media-controls-enclosure {
  background: none;
}

/* Intro end */

/* News */

.news {
  margin-bottom: 180px;
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
  margin-bottom: 144px;
}

.news__card-pic {
  width: 350px;
  height: 300px;
  position: relative;
  margin-bottom: 45px;
  border-radius: 20px 0px;
  background: lightgray 50% / cover no-repeat;
  overflow: hidden;
  transition: 0.15s all;
}

.news__card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.news__card:hover .news__card-pic {
  transform: scale(1.05);
}

.news__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 20px 0px;
  opacity: 0.7;
  background: var(--accent, #7a66cc);
  padding: 16px 25px;
}

.news__card-comments {
  width: 310px;
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.news__card-more {
  width: 130px;
  padding: 12px 19px;
  background: #7a66cc;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: auto 0 0 0;
}

.news__card-more:hover,
.news__card-more:focus,
.news__card-more:active {
  background: #54429e;
}

/* News end */

/* About */

.abouts {
  margin-bottom: 0;
}

.abouts__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 125px;
  align-items: center;
}

.about__info {
}

.about__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  margin: -35px 0 60px 95px;
}

.about__icon {
  display: flex;
  align-items: center;
}

.tour__desc {
  max-width: 540px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about__stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-bottom: 150px;
}

.about__stats-icon {
  margin: 60px 0 30px 0;
}

.about__stats-title {
  font-style: 18px;
  font-weight: 600;
  line-height: 24px;
  align-items: center;
  margin: 60px 20px 30px -90px;
}

.about__pic {
  width: 350px;
  height: 400px;
  position: relative;
  transition: all 0.5s ease;
}

.about__pic:hover {
  opacity: 0.6;
}

.about__pic-1 {
  position: absolute;
  top: -180px;
  left: 80px;
  z-index: 2;
  border-radius: 30px 0px;
  overflow: hidden;
}

.about__pic-2 {
  position: absolute;
  top: -115px;
  left: 180px;
  border-radius: 30px 0px;
  overflow: hidden;
}

/* About end */

/* Music */

.musics__music {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 0 125px;
}

.music__info {
  margin-top: -350px;
}

.music__icon {
  display: flex;
  align-items: center;
}

.musics__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  margin: -35px 0 60px 95px;
}

.info {
  margin-top: -700px;
}

.info__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.icons {
  display: flex;
  position: absolute;
  margin-top: -50px;
  margin-left: 150px;
}

.icons a {
  display: block;
  color: #fff;
  transition: all 0.5s ease;
}

.icons a:hover {
  color: #7a66cc;
  transform: translateX(5px);
}

.icons__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 27px;
  margin-left: 40px;
}

.info__icon {
  display: flex;
  position: absolute;
  margin-top: 24px;
}

/* Music list player */

.img {
  width: 100%;
  flex-shrink: 0;
  display: block;
  object-fit: cover;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player {
  width: 17.15em;
  display: flex;
  overflow: hidden;
  font-size: 1.22em;
  border-radius: 1.35em;
  flex-direction: column;
  background-color: #7a66cc;
  height: var(--parent-height);
}

.player__header {
  z-index: 1;
  gap: 0 0.4em;
  width: 100%;
  display: flex;
  height: 5.85em;
  flex-shrink: 0;
  position: relative;
  align-items: flex-start;
  border-radius: inherit;
  justify-content: flex-end;
  background-color: #54429e;
  padding: 0.95em 0.6em 0 1.2em;
  box-shadow: 0 2px 6px 1px #0000001f;
  transition: height var(--cubic-header), box-shadow var(--duration),
    padding var(--duration) ease-in-out;
}

.player__header.open-header {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  box-shadow: unset;
}

.player__img {
  width: 3.22em;
  height: 3.22em;
  border-radius: 1.32em;
}

.player__img--absolute {
  top: 1.4em;
  left: 1.2em;
  position: absolute;
}

.slider {
  flex-shrink: 0;
  overflow: hidden;
  transition: width var(--cubic-header), height var(--cubic-header),
    top var(--cubic-header), left var(--cubic-header);
}

.slider.open-slider {
  top: 0;
  left: 0;
  width: 100%;
  height: 14.6em;
}

.slider__content {
  display: flex;
  height: 100%;
  will-change: transform;
  transition: transform var(--cubic-slider);
}

.slider__img {
  filter: brightness(75%);
}

.slider__name,
.slider__title {
  overflow: hidden;
  white-space: nowrap;
}

.text-wrap {
  display: block;
  white-space: pre;
  width: fit-content;
  animation: text-wrap var(--duration-text-wrap) infinite;
}

@keyframes text-wrap {
  75% {
    transform: translate3d(-51.5%, 0, 0);
  }
  100% {
    transform: translate3d(-51.5%, 0, 0);
  }
}

.player__button {
  all: unset;
  z-index: 100;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.playlist {
  transform: scale(0);
  transition: transform calc(var(--duration) / 2);
}

.slider.open-slider .playlist {
  transform: scale(1);
  transition: transform var(--cubic-play-list);
}

.player__button--absolute--nw {
  top: 5.5%;
  left: 5.5%;
  position: absolute;
}

.player__button--absolute--center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

img[alt="pause-icon"] {
  display: none;
}

.player__controls {
  width: 77%;
  gap: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  will-change: contents;
  align-content: center;
  justify-content: center;
  transition: transform var(--cubic-header), width var(--cubic-header);
}

.player__controls.move {
  width: 88%;
  transform: translate3d(-1.1em, calc(var(--parent-height) - 153%), 0);
}

.player__context {
  margin: 0;
  width: 100%;
  display: flex;
  line-height: 1.8;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}

.slider__context {
  width: 56.28%;
  cursor: pointer;
  text-align: center;
  padding-bottom: 0.2em;
  will-change: contents;
  transition: width var(--cubic-header);
  animation: calc(var(--duration) / 2) var(--cubic-slider-context);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

.player__controls.move .slider__context {
  width: 49.48%;
}

.player__title {
  font-size: 0.7em;
  font-weight: bold;
  color: #fff;
}

.progres {
  width: 90%;
  height: 0.25em;
  cursor: pointer;
  border-radius: 1em;
  touch-action: none;
  background-color: #e5e7ea;
  transition: width var(--cubic-header);
}

.player__controls.move .progres {
  width: 98%;
}

.progres__filled {
  width: 0%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: inherit;
  background-color: #78adfe;
}

.progres__filled::before {
  right: 0;
  width: 0.35em;
  content: " ";
  height: 0.35em;
  border-radius: 50%;
  position: absolute;
  background-color: #5781bd;
}

.player__playlist {
  height: 100%;
  overflow: auto;
  padding: 1.05em 0.9em 0 1.2em;
}

.player__playlist::-webkit-scrollbar {
  width: 0;
}

.player__song {
  /* gap: 0 .65em ; */
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding-bottom: 0.7em;
  border-bottom: 0.1em solid #54429e;
}

.player__song .player__context {
  line-height: 1.5;
  margin-left: 0.65em;
}

.player__song-name {
  font-size: 0.88em;
}

.player__song-time {
  font-size: 0.65em;
  font-weight: bold;
  color: #fff;
  height: fit-content;
  align-self: flex-end;
}

.audio {
  display: none !important ;
}

/* Music list player end */

/* Music end */

/* Media */

.media {
  margin-top: 180px;
  margin-bottom: 180px;
}

.media__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  margin: -35px 0 60px 95px;
}

.media__icon {
  display: flex;
  align-items: center;
}

.media__more {
  margin: 20px 0;
}

.media__view-all {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7a66cc;
  text-decoration: none;
  background: url(/img/media-img/arrow-right.svg) no-repeat right center;
  padding-right: 59px;
}

.media__view-all:hover,
.media__view-all:focus {
  opacity: 0.65;
}

.media__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.media__card {
  position: relative;
  overflow: hidden;
}

.media__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.media__card:hover .media__card-pic {
  transform: scale(1.05);
}

.media__card_size_lg {
  grid-column: span 3;
}

.media__card_size_sm {
  grid-column: span 2;
}

.media__card-pic {
  width: 100%;
  transition: 0.15s all;
}

.media__card-pic_size_lg {
  height: 354px;
  object-fit: cover;
}

.media__card-pic_size_sm {
  height: 283px;
  object-fit: cover;
}

/* Media end */

/* Tours */

.tours {
  margin-bottom: 180px;
}

.tours-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  margin: -35px 0 60px 95px;
}

.about__icon {
  display: flex;
  align-items: center;
}

.tours__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
}

.tours__card {
}

.tours__card-btn {
}

.tours__card-pic {
  display: flex;
  position: relative;
}

.tours-pic {
  margin-top: -473px;
  width: 350px;
  height: 350px;
  border-radius: 30px 0px;
  transition: all 0.5s ease;
}

.tours-pic:hover {
  opacity: 0.6;
}

.tours__card-stats {
  margin-top: -110px;
  margin-left: 35px;
  align-items: center;
  position: absolute;
}

.tours__title {
  display: flex;
  padding: 0 35px 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  transition: all 0.5s ease;
}

.tours__title:hover {
  opacity: 0.5;
}

.tours__subtitle {
  display: flex;
  padding: 0 35px 10px 0;
  width: 280px;
  height: 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.tours__ticket {
  align-items: center;
  justify-content: flex-end;
  position: absolute;
}

.tours__date {
  display: flex;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.tours__date:hover {
  opacity: 0.5;
}

.ticket {
  display: flex;
  margin-top: -32px;
  margin-left: 135px;
  width: 180px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 30px 0px;
  background: var(--accent, #7a66cc);
  transition: all 0.5s ease;
}

.ticket:hover {
  opacity: 0.5;
}

.tours__comment {
  padding: 9px 30px 9px 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* Tours end */

/* Footer */

.footer {
  margin-left: 500px;
  width: 550px;
  height: 420px;
}

.footer__logo {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 70px;
}

.footer__info {
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__title {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__menu {
  display: flex;
  position: absolute;
  margin-left: -15px;
}

.footer__link {
  transition: all 0.5s ease;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__privacy {
  margin-top: 140px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.footer__privacy:hover {
  opacity: 0.5;
}

/* Footer end */
